<%- include ('../views/partials/header') %>
<div class="container mt-5">
    <div class="card-body">
        Concession is a platform that makes selling Concession easy for many highschoolers around the nation.
        Rasing money can be hard for alot of students to start selling concessions. However, through concessions
        student's can have the money to buy the items
        It is a secure website that keeps track of all the students money, for more information follow the
        guideline.
    </div>
    <p>

    </p>
</div>


<%- include ('../views/partials/footer') %>