<!-- TODO: Make it look better -->
<%- include ('../views/partials/header') %>


<!-- <div class="container mt-5">
    <div class="card-body">
        Concession is a platform that makes selling Concession easy for many highschoolers around the nation.
        Rasing money can be hard for alot of students to start selling concessions. However, through concessions
        student's can have the money to buy the items
        It is a secure website that keeps track of all the students money, for more information follow the
        guideline.
    </div>
</div> -->

<header>
    <h1> Scroll Animation</h1>
</header>
    

<section class="animation">
    <img class="paper-plane" src="https://uc8a064f69baa811e6300e9a6ade.previews.dropboxusercontent.com/p/thumb/AAzNrZCQJK6gGJN9oiNMLHfA_uL2Jgql0NZgeHCjavtL3XyU05t6Yme8jJBi0aVs_phbPnoswNtClvGfaf6kPT6XZs-6CXq8XPFnfgQ--XCdUnRMfCaFO2AXxL6qUNbNYgSD6wXFKq0Crcgfn1nHmkwro82nAypA6Y4-29OKd_ZqQOwuS7qiaYWrnaBLuX3QuUscDIp2U4AMyY8dN06ifwgSw1_4JCMOKlcU70UQRe63soNDTz5HrY9Kppw6wtNrsHGSRL0Cm36ec40zIetCpWEhmf3HfOqQdJl5iV7RXxlrlAsN9ssDyWmz0NOEHquTQOqNL5dTJ1Sp_JXoUoZDHDgHGzZoD6ml_7IgRhm-9E9Nfb23oP7I0nOcR0WaRatYWQ4/p.png?fv_content=true&size_mode=5" 
    alt="paper-Plane">
</section>

<footer>
    <h1>wooooo</h1>
</footer>

<button class="test"> click me </button>




<script src="/about.js"></script>

<!-- Debug indicator amd Scrol magic cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/jquery.ScrollMagic.min.js" integrity="sha256-vMplzCSo+pO4wcmz/as8FVtabF5gE9Gwqk5ER8jux3w=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/debug.addIndicators.min.js" integrity="sha256-XBVALc3QsDSQiDtiaBwNZ2rxCJTHzlUhhlDQ84J8bw8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/plugins/animation.gsap.min.js" integrity="sha256-+9YNuItWuR4sbqeaNiJOxG0BvptYz4fbUXbIZoH5Jwo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js" integrity="sha256-VfpswwlYKouVmlpnJW0MszMzLm9lH2yfB6ty3d1WsB4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineLite.min.js" integrity="sha256-5HW1hilN77unDg9wwY2mmXL1G8/hBMrYOgiB+BqsxNg=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js" integrity="sha256-UJt5JHwfrhok9SvTqbi6rRw2ajY0ugeYsIT2pioVDJY=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/BezierPlugin.min.js" integrity="sha256-dER4oK6DpzhXzvohNcU0SRXMVUde/UEg1+mj5EIVkIg=" crossorigin="anonymous"></script>
<!-- jquery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<%- include ('../views/partials/footer') %>