<!-- TODO: Make it look better -->
<%- include ('../views/partials/header') %>

<head>
    <link rel="stylesheet" href="/fullpage.min.css">
    <link rel="stylesheet" href="/about.css">
</head>

<!-- <div class="container mt-5">
    <div class="card-body">
        Concession is a platform that makes selling Concession easy for many highschoolers around the nation.
        Rasing money can be hard for alot of students to start selling concessions. However, through concessions
        student's can have the money to buy the items
        It is a secure website that keeps track of all the students money, for more information follow the
        guideline.
    </div>
</div> -->

<body>
    <div id="fullpage">
        <section class="section s1">
            <h1>Concession</h1>
        </section>
        <section class="section s2">
            <h1>WHAT IS CONCESSION</h1>
            <div class="description">
                <p>Concession is a platform that makes raising easy for many highschoolers around the nation.
                    Rasing money can be hard for alot of students to start selling concessions. However, through concessions
                    student's can have the money to buy the items
                    It is a secure website that keeps track of all the students money, for more information follow the
                    guideline.</p>
                
            </div>
            <img src="https://i.ya-webdesign.com/images/large-soda-png.png" alt="one" class="chair" />
            <img src="https://ya-webdesign.com/transparent250_/fountain-drink-png-5.png" alt="one" class="chair" />
            <img src="https://ya-webdesign.com/transparent250_/pepsi-cup-png.png" alt="one" class="chair" />
        </section>
        <section class="section s3">
            <h1>WHY CONCESSION</h1>
            
        </section>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
        integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="/fullpage.min.js"></script>
    <script src="/about.js"></script>
</body>






<%- include ('../views/partials/footer') %>