<!-- TODO: Make it look better -->
<%- include ('../views/partials/header') %>

<head>
    <link rel="stylesheet" href="/about.css">
</head>
<!-- <div class="container mt-5">
    <p class="what container">
        Concession was born from the struggle that came with trying to raise money as broke highschool students. 
        With out any initial capital to start with, it was really hard to organize events with out borrowing money
        or selling personal possesions. After coming up with the idea for concessions, I decided to test it on a smaller
        scale and I was convinced that it worked great. With that being said I am certain that the implmentation of concessions 
        to your business or organization will help you worry less about finance and focus more on your work.
    </p>
       
</div> -->

<div class="jumbotron front ">
    <div class="container text text-white">
        <h1 id="Welcome"> Welcome To Concessions </h1>
        <hr id="welcomeUnderline">
        <hr id="side1">
        <hr id="side2">
        <div class="dollar">
            <h1 id="easy">Easy</h1>
            <h1 id="simple">Simple</h1>
            <h1 id="fast">Fast</h1>
        </div>
        <a class="btn btn-primary btn-lg" id="learnMore" href="#" role="button">Learn more</a>
    </div>
</div>

<div class=" text-center mission">
    <h1>OUR STORY</h1>
    <p class="container">It all started when Emmanuel was a senior planning to raise money for his classe's end of the
        year trip.
        To do so, the class needed to organaize events that are traditional at school. The senior class was in charge of
        organizing Prom, a school wide pool party and on top of all of that, they had to find money to buy items to sell
        during Athletic events. After multiple brainstorming with classmates and mentors, Concessions was created. Our
        goal
        is to make the process of raising money for highschool students easy.
    </p>
</div>


<div class="footer">
    <div class="container text-center text-white">
        <h1>Contact Us</h1>
        <p> Email: Concessions@gmail.com</p>
        <p> Phone Number: +1 000-000-0000</p>
        <i class="fab sm fa-facebook"></i>
        <i class="fab sm fa-twitter"></i>
        <i class="fab sm fa-instagram"></i>
        <div class="copyright">
            © Untitled. Design by: Elie Bizimana & Emmanuel Kebede. Images: <a
                href="https://unsplash.com">Unsplash</a>.
        </div>
    </div>
</div>

</div>



<%- include ('../views/partials/footer') %>