<!-- TODO: Make it look better -->
<%- include ('../views/partials/header') %>

<head>
    <link rel="stylesheet" href="/fullpage.min.css">
    <link rel="stylesheet" href="/about.css">
</head>


<body>
    <div id="fullpage">
        <section class="section s1">
            <h1>Concessions</h1>
        </section>
        <section class="section s2">
            <h1>WHAT IS CONCESSIONS ?</h1>
            <div class="description">
                <p class="what">Concession is a platform established in 2020 by a highschool senior. It's purpose is for
                    MMS students
                    To know how they want to invest their money for the activities of the year.
                </p>
            </div>
            <img src="https://i.ya-webdesign.com/images/large-soda-png.png" alt="one" class="chair" />
            <img src="https://ya-webdesign.com/transparent250_/fountain-drink-png-5.png" alt="one" class="chair" />
            <img src="https://ya-webdesign.com/transparent250_/pepsi-cup-png.png" alt="one" class="chair" />
        </section>
        <section class="section s3">
            <h1>WHY CONCESSIONS</h1>
            <p class="what container">
                Concession was born from the struggle that came with trying to raise money as broke highschool students. 
                With out any initial capital to start with, it was really hard to organize events with out borrowing money
                or selling personal possesions. After coming up with the idea for concessions, I decided to test it on a smaller
                scale and I was convinced that it worked great. With that being said I am certain that the implmentation of concessions 
                to your business or organization will help you worry less about finance and focus more on your work.
            </p>

        </section>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
        integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"
        integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="/fullpage.min.js"></script>
    <script src="/about.js"></script>
</body>






<%- include ('../views/partials/footer') %>