<!-- TODO: Make it look better -->
<%- include ('../views/partials/header') %>

<head>
    <link rel="stylesheet" href="/about.css">
</head>
<!-- <div class="container mt-5">
    <p class="what container">
        Concession was born from the struggle that came with trying to raise money as broke highschool students. 
        With out any initial capital to start with, it was really hard to organize events with out borrowing money
        or selling personal possesions. After coming up with the idea for concessions, I decided to test it on a smaller
        scale and I was convinced that it worked great. With that being said I am certain that the implmentation of concessions 
        to your business or organization will help you worry less about finance and focus more on your work.
    </p>
       
</div> -->

<div class="jumbotron front ">
    <div class="container text text-white">
        <h1 id="Welcome"> Welcome To Concessions </h1>
        <hr id="welcomeUnderline">
        <hr id="side1">
        <hr id="side2">
        <div class="dollar">
            <h1 id="easy">Easy</h1>
            <h1 id="simple">Simple</h1>
            <h1 id="fast">Fast</h1>

        </div>
        <a class="btn btn-primary btn-lg" id="learnMore" href="#" role="button">Learn more</a>
    </div>
</div>





<%- include ('../views/partials/footer') %>